@import url('https://fonts.googleapis.com/css?family=Anton|Dosis|Yanone+Kaffeesatz:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
/********************** ESTRUCTURA GENERAL **********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul li {
	list-style: none;
	text-align: center;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #547AA5;
}

#container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header {
    position:fixed;
    height: 50px;
    width: 100%;
    order: 1;
    background-color: #D64D4D;
    border-bottom: 1px solid white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#main {
    display: flex;
    flex-flow: row wrap;
    flex: 1 100%;
    order: 2;
    max-width: 100%;
    align-content: flex-start;
	justify-content: center;
}

footer {
    display: flex;
    height: 50px;
    flex: 0 0 100%;
    order: 3;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
}

.texto {
    font-family: Dosis;
    color: white;
}

.square {
    width: 80%;
    min-height: 100px;
    margin: 5px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

.flex-row-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
/******************* FIN ESTRUCTURA GENERAL **********************/

/**************************** HEADER *****************************/
#logo p {
    font-family: 'Yanone kaffeesatz';
    color: white;
    font-size: 1.8em;
    font-weight: 700;
}

#logo a {
    text-decoration: none;
}


/*************************** FIN HEADER **************************/

/***************************** MAIN ******************************/
.forms {
    background-color: #D0D6B5;
    height: 250px;
    order: 1;
    margin: auto;
}

#loguearse {
	cursor: pointer;
}

.user {
	margin-top: 50px;
    background-color: #D0D6B5;
    order: 1;
    height: 105px;
    width: 100%;
    border-bottom: 2px solid white;
    border-radius: 0;
}

.profile {
    flex: 0 70%;
    margin: auto;
    order: 2;
    color: #393E41;
    margin-top: 5vw;
    background-color: #D0D6B5;
}

.profile h1 {
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 2px 0;
    background-color: #d64d4d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile ul {
    width: 70%;
    list-style: none;
    margin: 5px 0 10px 0;
    text-align: center;
}

.profile li {
    font-family: Roboto;
    font-size: 15px;
    margin: 3px 0;
}

.profile p {
    font-weight: bold;
}

.profile .campo button {
    margin-bottom: 10px;
}

.noticias {
    order: 2;
    background-color: #FFCDB2;
    max-height: 150px;
}

.jugar {
    order: 5;
    background-color: #d64d4d;
    height: 100px;
	cursor: pointer;
}

.jugar a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

/*************************** FIN MAIN ****************************/

/*************************** REGISTRO ****************************/
.opciones {
    display: flex;
    align-self: flex-start;
    height: 50px;
    align-items: stretch;
    justify-content: space-around;
    flex: 0 100%;
    color: white;
    font-weight: bold;
    background-color: #F48668;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.formulario {
    flex: 0 100%;
    align-self: flex-start;
}

#login {
    order: 1;
    width: 50%;
    background-color: #D64D4D;
    border-top-left-radius: 10px;
    cursor: pointer;
}

#register {
    order: 2;
    background-color: #F48668;
    width: 50%;
    border-top-right-radius: 10px;
    cursor: pointer;
}

#registro {
    display: none;
}

.campo {
    flex: 0 70%;
    text-align: center;
    margin: 4px 0;
}

.campo * {
    width: 100%;
    padding: 8px 8px;
}

.campo input:focus{
    outline: 4px solid #d64d4d;
}

.campo input {
    text-align: center;
    border: 3px solid #D64D4D;
}

.campo button {
    background-color: #D64D4D;
    color: white;
    font-weight: bold;
    border: 1px solid #D64D4D;
    box-shadow: 1px 1px 5px black;
}
/************************* FIN REGISTRO **************************/

/**************************** USUARIO ****************************/

.user-actions {
    flex: 1;
    margin-right: 1%;
    order: 2;
    height: 100%;
    /*border: 1px red solid;*/
}

#avatar {
    width: 80px;
    max-height: 100px;
    margin-top: 10px;
}

#logout {
	cursor: pointer;
}

.user-info {
    order: 1;
    flex: 0 100px;
    margin-left: 1%;
    /*border: 1px red solid;*/
    text-align: center;
}

.user-actions-1, .user-actions-2, .user-actions-3, .user-actions-4 {
    flex: 0 50%;
    min-height: 50%;
    overflow: hidden;
}

.user-actions-1 {
    order: 1;
    color: #393E41;
    font-weight: bold;
    text-transform: capitalize;
}

.user-actions-1 a {
    text-decoration: none;
    color: #393E41;
}

.user-actions-2 {
    order: 2;
}

.user-actions-3 {
    order: 4;
}

.user-actions-3 a {
	color: #393E41;
	font-weight: bold;
	text-decoration: none;
}

.user-actions-4 {
    order: 3;
}

.user-actions-small-2 button, .user-actions-2 button{
    background-color: #D64D4D;
    color: white;
    font-weight: bold;
    border: 1px solid #D64D4D;
    box-shadow: 1px 1px 5px black;
    padding: 3px;
}

/************************* FIN USUARIO ***************************/

/************************* LEADERBOARD ***************************/
.lb {
	background-color: #D64D4D;
	color: white;
	font-weight: bold;
}

.lb ul {
	width: 100%;
}

.lb ul li {
	border-bottom: 2px solid white;
	width: 90%;
	padding: 10px;
	margin: 0 auto;
	align-items: center;
}

.lb ul li:first-of-type {
	border-top: 2px solid white;
}

.lb .lb-user {
	width: 50%;
}

.lb .lb-puntos {
	width: 50%;
}

.lb a {
	text-decoration: none;
	color: white;
}

/*********************** FIN LEADERBOARD *************************/

/*************************** PREGUNTAS ***************************/
#preg {
    min-height: 30px;
    background-color: #D64D4D;
    color: white;
    font-weight: bold;
}

#resp1, #resp2, #resp3, #resp4 {
    background-color: #D0D6B5;
	cursor: pointer;
}

#resp1 a, #resp2 a, #resp3 a, #resp4 a {
    text-decoration: none;
    color: #393E41;
    font-weight: bold;
}

#preg {
    order: 2;
}

#resp1 {
    order: 3;
}

#resp2 {
    order: 5;
}

#resp3 {
    order: 6;
}

#resp4 {
    order: 7;
}
.user-small {
	margin-top:50px;
    background-color: #D0D6B5;
    order: 2;
    min-height: 70px;
	max-height: 70px;
    width: 100%;
    border-bottom: 2px solid white;
    border-radius: 0;
}

.user-small .user-info {
    height: 70px;
}

.user-small #avatar {
    max-width: 50px;
    max-height: 70px;
}

.user-actions-small {
    width: 70%;
    order: 2;
}

.user-actions-small-1, .user-actions-small-2, .user-actions-small-3, .user-actions-small-4 {
    flex: 0 33%;
    min-height: 30px;
    overflow: hidden;
}

.user-actions-small-1 {
    order: 1;
    color: #393E41;
    font-weight: bold;
    text-transform: capitalize;
}

.user-actions-small-1 a {
    text-decoration: none;
    color: #393E41;
}

.user-actions-small-1 p {
	text-align: center;
}

.user-actions-small-2 {
    order: 3;
}

.user-actions-small-3 {
    order: 2;
}

.user-actions-small-3 ul {
    list-style: none;
}

.user-actions-small-4 {
    order: 4;
    display: none;
}

.end {
	height: 100px;
	background-color: #D64D4D;
	color: white;
	font-weight: bold;
}

.end button {
	border: none;
	background-color: #D0D6B5;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px black;
	margin-top: 10px;
	cursor: pointer;
}

/************************* FIN PREGUNTAS *************************/

/**************************** FOOTER *****************************/
#copyright {
    text-align: center;
    margin-bottom: 10px;
}

#copyright p {
    font-family: 'Yanone Kaffeesatz' sans-serif;
    font-weight: 700;
    font-size: 20px;
}

/*************************** FIN FOOTER **************************/
